.btnMenu {
    background: none;
    border: none;
    cursor: pointer; 
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    text-align: right;
}

.btnMenu:hover {
    color: #c5a021;
}