.heroPrincipal {
    background-color: #1a3668;
    color: #ffffff;
    padding: 100px 20px;
    text-align: center;
}

.heroSecundary {
    background-color: #122342;
    padding: 70px 20px;
    text-align: center;
    color: #ffffff;
}