.piePagina {
    background-color: #122342;
    color: #a0aec0;
    padding: 30px 20px;
    text-align: center;
    border-top: 2px solid #1a3668;
}

@media (min-width: 768px) {
    .piePagina {
        padding: 40px 0;
    }
}