.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.cuadro {
    background-color: #b3e5fc;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    width: 40%;            
    float: left;          
}