.headerPagina {
    background-color: #1a3668;
    color: #ffffff;
}

.headerPagina .contenedorPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.headerTexto {
    font-size: 2.5rem;
    text-align: left;
    margin: 0%;
}

.headerItemsMenu {
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 1rem;
    text-align: right;
}
