.headerPagina {
    background-color: #1a3668;
    color: #ffffff;
    padding: 10px 0;
}

.headerPagina .contenedorPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.headerTexto {
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    font-size: 2.5rem;
    text-align: left;
    margin: 0%;
}

.headerItemsMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    font-size: 1rem;
    text-align: right;
    gap: 10px;
}

@media (min-width: 768px) {
    .headerPagina .contenedorPrincipal {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .headerTexto {
        font-size: 1.2rem;
    }

    .headerItemsMenu {
        gap: 25px;
    }
}
